body {
  font-family: Arial, sans-serif;
  background-color: #eef2f5;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #343a40;
  font-size: 24px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tablink {
  background-color: #343a40;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s;
  border-radius: 5px 5px 0 0;
}

.tablink:hover {
  background-color: #555;
}

.tablink.active {
  background-color: #007bff;
  color: white;
}

.tabcontent {
  display: none;
  padding: 20px;
}

.tabcontent table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 14px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #343a40;
  color: #fff;
  font-weight: normal;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sort-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; Равномерно распределяем элементы по горизонтали */
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sort-container label {
  margin-right: 10px;
  font-weight: bold;
}

.sort-container select {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.sort-btn {
  background-color: #1e73c8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.sort-btn:hover {
  background-color: #095aab;
}

#city-options-div-all, #age-options-div-all, #city-options-div-group, #age-options-div-group {
  margin-left: 20px;
  display: none;
}

#group-options-div {
  margin-left: 20px;
  margin-bottom: 20px;
}
#group-options-div select {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

/* Добавленные стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Добавленные стили для кнопки "Скачать данные" и "Скачать" */
.download-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #218838;
}

.modal form button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal form button[type="submit"]:hover {
  background-color: #0056b3;
}

#loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
